In [1]:
def f(n):
    assert n>=1 and type(n)==type(0)
    if n==1:
        return 1
    else:
        if n%2==0:
            return f(n-1)+4
        else:
            return f(n-1)+2

In [2]:
m=f(1)
for i in range(1,90):
    while m<=90:
        print(f'f({i})={m}')
        m=f(i+1)
        break

f(1)=1
f(2)=5
f(3)=7
f(4)=11
f(5)=13
f(6)=17
f(7)=19
f(8)=23
f(9)=25
f(10)=29
f(11)=31
f(12)=35
f(13)=37
f(14)=41
f(15)=43
f(16)=47
f(17)=49
f(18)=53
f(19)=55
f(20)=59
f(21)=61
f(22)=65
f(23)=67
f(24)=71
f(25)=73
f(26)=77
f(27)=79
f(28)=83
f(29)=85
f(30)=89

In [4]:
45+30+18-15-9-6+3

66

Vamos a programar una función que devuelva los números naturales que sean múltiplos de otros.

In [7]:
def multiplos(n,m):
    """
    n: múltiplos de esta n
    m: cota inferior
    multiplos(n,m): un listado de los múltiplos de n que a lo más llegan a m
    """
    j=0
    listado=list()
    while j*n<=m:
        listado.append(j*n)
        j+=1
    return listado

Vamos a ver los números que sean múltiplos de 2 o 3, pero sin miembros repetidos.

In [9]:
dos_tres=list(set(multiplos(2,89)+multiplos(3,89)))
dos_tres

[0,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 51,
 52,
 54,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 81,
 82,
 84,
 86,
 87,
 88]

In [10]:
len(dos_tres)

60

También podemos hacer lo siguiente:
$$|2\mathbf{N}\cup3\mathbf{N}|=|2\mathbf{N}|+|3\mathbf{N}|-|\text{mcm}(2,3)\mathbf{N}|=45+30-15$$

In [12]:
club=list(set(multiplos(2,89)+multiplos(3,89)+multiplos(4,89)+multiplos(5,89)+multiplos(6,89)))
club

[0,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88]

In [13]:
len(club)

66

In [14]:
90-66

24